# example configuration file
# save this as ~/.config/i3blocks/config

separator=false
separator_block_width=20

_color_good=#88b090
_color_warn=#ccdc90
_color_crit=#e89393

[test]
command=~/scripts/i3blocks/test.sh
interval=2
markup=pango
_perc=95

[network]
command=~/scripts/i3blocks/wlan_connection.sh
interval=2
markup=pango
_use_signal_icons=0
_format_no_connection={icon}
_format={icon} {ssid} {signal}%

[battery2]
command=~/scripts/i3blocks/battery.sh
interval=5
markup=pango
_bat=BAT1
_format={icon} {perc}%

[time]
command=~/scripts/i3blocks/time.sh
interval=10


