# example configuration file
# save this as ~/.config/i3blocks/config

separator=false
separator_block_width=20

_color_good=#88b090
_color_warn=#ccdc90
_color_crit=#e89393

#[test]
#command=~/scripts/i3blocks/test.sh
#interval=2
#markup=pango
#_perc=95

[active_window]
command=~/scripts/i3blocks/active_window.sh
interval=persist
markup=pango
_format=<span color="#808080">{title}</span>

[caplock]
command=~/scripts/i3blocks/caplock.sh
interval=once
signal=8
markup=pango
_enabled_caption=<b>CAPLOCK</b>


[brightness]
command=~/scripts/i3blocks/display_brightness.sh
interval=5
signal=9
color=#ffffff

[volume]
command=~/scripts/i3blocks/volume.sh
interval=5
markup=pango
signal=10

[ethernet]
command=~/scripts/i3blocks/eth_connection.sh
interval=2
markup=pango
_format_no_connection=

[wlan]
command=~/scripts/i3blocks/wlan_connection.sh
interval=2
markup=pango
#_use_signal_icons=1
_format_no_connection={icon}
_format={icon} {ssid} {signal}%

[battery2]
command=~/scripts/i3blocks/battery.sh
interval=5
markup=pango
_bat=BAT1
_format={icon} {perc}%

[time]
command=~/scripts/i3blocks/time.sh
interval=10


