# example configuration file
# save this as ~/.config/i3blocks/config

separator=false
separator_block_width=0
#border_top=0
#border_left=0
#border_right=0
#border_bottom=5
#background=#ff00ff

#_color00=#e89393
#_color01=#e2a292
#_color02=#ddb092
#_color03=#d7bf91
#_color04=#d2cd91
#_color05=#ccdc90
#_color06=#a4c993
#_color07=#7bb696
#_color08=#53a29a
#_color09=#2a8f9d
#_color10=#027ca0


_powerline_symbol_left=
_powerline_symbol_right=
markup=pango


#[test]
#command=echo -e '\ue90c'
#interval=2
#markup=pango
#_perc=95

[active_window]
command=~/scripts/i3blocks/active_window.sh
interval=persist
markup=pango
_format=<span color="#808080">{title} </span>
_powerline_color=#000000
_powerline_color_right=#666666

[caplock]
command=~/scripts/i3blocks/caplock.sh
interval=once
signal=8
markup=pango
_enabled_caption=<span foreground="{color}"> <b>CAPLOCK</b> </span>
_powerline_color=#666666

[checkupdates]
command=~/scripts/i3blocks/checkforupdates.sh
interval=600
markup=pango
_format=<span foreground="{color}"> {icon} {count} </span>
_powerline_color=#666666

[brightness]
command=~/scripts/i3blocks/display_brightness.sh
interval=5
signal=9
markup=pango
_format=<span foreground="{color}"> {icon} {brightness}% </span>
_powerline_color=#555555
_powerline_color_left=#666666

[volume]
command=~/scripts/i3blocks/volume.sh
interval=5
markup=pango
signal=10
_format=<span foreground="{color}"> {icon} {vol}% </span>
_powerline_color=#444444
_powerline_color_left=#555555

[ethernet]
command=~/scripts/i3blocks/eth_connection.sh
interval=2
markup=pango
_format=<span foreground="{color}"> {icon} {ip} </span>
_format_no_connection=<span foreground="{color}"> {icon} </span>
_powerline_color=#333333
_powerline_color_left=#444444

[wlan]
command=~/scripts/i3blocks/wlan_connection.sh
interval=2
markup=pango
_use_signal_icons=1
_format_no_connection=<span foreground="{color}"> {icon} </span>
_format=<span foreground="{color}"> {icon} {ssid} </span>
_powerline_color=#222222
_powerline_color_left=#333333

[battery2]
command=~/scripts/i3blocks/battery.sh
interval=5
markup=pango
_bat=BAT1
_format=<span foreground="{color}"> {icon} {perc}% </span>
_powerline_color=#111111
_powerline_color_left=#222222

[time]
command=~/scripts/i3blocks/time.sh
interval=10
_powerline_color=#000000
_powerline_color_left=#111111
_format=<span foreground='#ffffff'> {icon} <b>{time}</b></span>

